.frame-child55 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child56 {
  position: absolute;
  top: 91px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 674px;
  z-index: 3;
}
.hero-section-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;
}
.rectangle-parent17 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 100%;
  height: 100%;
}
.label132 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 20px;
  color: inherit;
  z-index: 5;
}
.hero-description-child {
  width: 38px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  z-index: 5;
}
.hero-description {
  position: absolute;
  top: 34px;
  left: 974px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame-section {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 765px;
  text-align: left;
  font-size: var(--text-xs-medium-size);
  color: var(--color-darkslategray-100);
  font-family: var(--text-sm-regular);
}
