.contact-child2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 765px;
}
.contact-child3 {
  position: absolute;
  top: 123px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 801px;
}
.contact-child4 {
  position: absolute;
  top: 275px;
  left: 176px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.contact-child5 {
  position: absolute;
  top: 275px;
  left: 545px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.contact-child6 {
  position: absolute;
  top: 275px;
  left: 914px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.shop-now7 {
  position: relative;
  letter-spacing: 0.02em;
}
.shop-now-wrapper5 {
  position: absolute;
  top: 794px;
  left: 648px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1.2px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 66px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-15xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.prints5 {
  position: absolute;
  top: 174px;
  left: 631px;
  letter-spacing: 0.02em;
  font-family: var(--font-kai);
}
.contact-child7 {
  position: absolute;
  top: 91px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 873px;
}
.contact-child8 {
  position: absolute;
  top: 370px;
  left: 176px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.contact-child9 {
  position: absolute;
  top: 370px;
  left: 545px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.contact-child10 {
  position: absolute;
  top: 370px;
  left: 914px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.label97 {
  position: absolute;
  top: 222px;
  left: calc(50% - 469px);
  font-size: var(--font-size-lg);
  line-height: 25px;
  color: var(--color-darkslategray-300);
  text-align: center;
  display: inline-block;
  width: 939px;
}
.contact3 {
  position: absolute;
  top: 150px;
  left: calc(50% - 116px);
  letter-spacing: 0.02em;
  font-family: var(--font-kai);
}
.contact-child11 {
  position: absolute;
  top: 964px;
  left: 0px;
  width: 1440px;
  height: 281px;
}
.more4 {
  position: absolute;
  top: 1031px;
  left: calc(50% - 74px);
  letter-spacing: 0.02em;
  font-family: var(--font-kai);
  color: var(--color-floralwhite-100);
}
.label98 {
  position: absolute;
  top: 1195px;
  left: calc(50% - 63px);
  font-size: var(--text-xs-medium-size);
  line-height: 20px;
  color: var(--color-floralwhite-100);
}
.label99 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.label-parent25 {
  position: absolute;
  top: 1108px;
  left: calc(50% - 245px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
  font-size: var(--text-xs-medium-size);
  color: var(--color-floralwhite-100);
}
.elena-fresch5 {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.02em;
  font-family: var(--font-birthstone-bounce);
  color: var(--color-darkslategray-200);
  margin-top: -3px;
}
.nenartsy-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.label-parent26 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: var(--text-xs-medium-size);
  font-family: var(--text-sm-regular);
}
.frame-child49 {
  width: 38px;
  position: absolute;
  margin: 0 !important;
  top: 20.5px;
  left: 1278.5px;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 1px;
  z-index: 2;
}
.frame-parent19 {
  position: absolute;
  top: 34px;
  left: 47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-797xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-kai);
}
.contact2 {
  width: 100%;
  position: relative;
  background-color: var(--gray-100);
  height: 1243px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--text-sm-regular);
}
