.divider6 {
  position: absolute;
  top: 2621px;
  left: 93px;
  background-color: var(--gray-200);
  width: 1216px;
  height: 1px;
}
.homepage-child2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 765px;
}
.homepage-child3 {
  position: absolute;
  top: 1598px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 779px;
}
.about {
  position: absolute;
  top: 1694px;
  left: calc(50% - 84px);
  letter-spacing: 0.02em;
  color: var(--color-floralwhite-300);
}
.homepage-child4 {
  position: absolute;
  top: 797px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 801px;
}
.homepage-child5 {
  position: absolute;
  top: 2377px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 893px;
}
.homepage-child6 {
  position: absolute;
  top: 949px;
  left: 176px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child7 {
  position: absolute;
  top: 949px;
  left: 545px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child8 {
  position: absolute;
  top: 949px;
  left: 914px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.shop-now-wrapper6 {
  position: absolute;
  top: 1468px;
  left: 648px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1.2px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 66px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-15xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--text-sm-regular);
}
.prints6 {
  position: absolute;
  top: 848px;
  left: 631px;
  letter-spacing: 0.02em;
}
.homepage-child9 {
  position: absolute;
  top: 765px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 833px;
}
.homepage-child10 {
  position: absolute;
  top: 2374px;
  left: -1px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 896px;
}
.homepage-child11 {
  position: absolute;
  top: 937px;
  left: 176px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child12 {
  position: absolute;
  top: 2588px;
  left: 175px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child13 {
  position: absolute;
  top: 1807px;
  left: 907px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child14 {
  position: absolute;
  top: 937px;
  left: 545px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child15 {
  position: absolute;
  top: 2588px;
  left: 544px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child16 {
  position: absolute;
  top: 937px;
  left: 914px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.homepage-child17 {
  position: absolute;
  top: 2588px;
  left: 913px;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 466px;
}
.shop {
  position: relative;
  letter-spacing: 0.02em;
}
.shop-wrapper {
  position: absolute;
  top: 1468px;
  left: calc(50% - 53px);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1.2px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-15xl);
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--text-sm-regular);
}
.explore-wrapper {
  position: absolute;
  top: 3143px;
  left: calc(50% - 62px);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1.2px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-15xl);
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--text-sm-regular);
}
.prints7 {
  position: absolute;
  top: 824px;
  left: 631px;
  letter-spacing: 0.02em;
}
.gallery5 {
  position: absolute;
  top: 2459px;
  left: calc(50% - 116px);
  letter-spacing: 0.02em;
}
.homepage-child18 {
  position: absolute;
  top: 3270px;
  left: 0px;
  width: 1440px;
  height: 281px;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.aliquam-aliquet-lacus {
  margin: 0;
}
.label110 {
  position: absolute;
  top: 1833px;
  left: calc(50% - 538px);
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-family: var(--text-sm-regular);
  color: var(--color-floralwhite-400);
  display: inline-block;
  width: 560px;
}
.more5 {
  position: absolute;
  top: 3337px;
  left: calc(50% - 74px);
  letter-spacing: 0.02em;
  color: var(--color-floralwhite-100);
}
.label111 {
  position: absolute;
  top: 3501px;
  left: calc(50% - 60px);
  font-size: var(--text-xs-medium-size);
  line-height: 20px;
  font-family: var(--text-sm-regular);
  color: var(--color-floralwhite-100);
}
.label112 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.label-parent27 {
  position: absolute;
  top: 3414px;
  left: calc(50% - 245px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
  font-size: var(--text-xs-medium-size);
  color: var(--color-floralwhite-100);
  font-family: var(--text-sm-regular);
}
.homepage-child19 {
  position: absolute;
  top: 91px;
  left: 0px;
  background-color: var(--color-floralwhite-100);
  width: 1440px;
  height: 674px;
}
.dsc-0133-3-1-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 765px;
  object-fit: cover;
}
.elena-fresch6 {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.02em;
  font-family: var(--font-birthstone-bounce);
  color: var(--color-floralwhite-200);
  margin-top: -3px;
}
.nenartsy-parent3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.label-parent28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.frame-child50 {
  width: 38px;
  position: relative;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 1px;
}
.frame-parent21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  font-size: var(--text-xs-medium-size);
  font-family: var(--text-sm-regular);
}
.frame-parent20 {
  position: absolute;
  top: 34px;
  left: 47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-797xl);
  font-size: var(--font-size-xl);
}
.dsc-0082-1-icon {
  position: absolute;
  top: 1807px;
  left: 907px;
  width: 350px;
  height: 466px;
  object-fit: cover;
}
.homepage1 {
  width: 100%;
  position: relative;
  background-color: var(--gray-100);
  height: 3551px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-kai);
}
